@model GameListViewModel

@{
    Layout = "_Layout";
}
<h2>Current Platform @(Model.CurrentPlatform)</h2>
    <div class="row row-cols-1 row-cols-md-5 g-4">
    
    @foreach (var game in Model.Games)
    {
        <partial name="_GameCard" model="game"/>
    }

    </div>