@model HomeViewModel
@{
    Layout = "_Layout";
}

<partial name="_Carousel" />

<div class="text-center">
    @*<img src="~/Images/logo.png" class="logo-mark mx-auto" />*@
    <h2 class="tp-30">Games of the week</h2>
    <h6>Enjoy a weekly selection of our favorite games</h6>

    <div class="row games-of-the-week">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var game in Model.GamesOfTheWeek)
            {
                <partial name="_GameCard" model="game"/>
            }
        </div>

    </div>
</div>
