@{
    Layout = "_Layout";
}

<h3 class="my-5">
        <email address="info@@gamesshop.com" content="Contact us" class="btn btn-secondary"></email>
</h3>

<div class="row gx-5">
    <img src="~/Images/contact/contact.jpg" class="img-fluid "/>
</div>